/**********/

body  {
	margin:0;
	padding:0;
	background:gray url(img/intro.jpg) center center no-repeat fixed;
	background-size:cover;
	font-size:20px;
	overflow-x:hidden;
}

section {
	position:relative;
	width:100%;
	margin:0;
	background:rgba(255,255,255,.3);
	box-sizing:border-box;
	/*outline: 1px blue dashed;*/
}

section.cont {
	/*min-height:600px;*/
}

.clear {clear:both;}

.fb {box-sizing:border-box;}

p,h1,h2,h3,h4,h5 {margin:0; padding:0;}

h3 {font-size:3em;}

::-moz-selection{ background:rgba(0,0,0,0.2);}
::selection{ background:rgba(0,0,0,0.2);}

.content h2 {font-size:2em;}
.content p  {line-height:2em; margin-top:1em;}

.angle {
	display:block;
	position:absolute;
	bottom:0;
	margin:0 auto;
	width:100%;
	text-align:center;
	z-index:0;
}

.angle a {display:inline-block; width:4em; height:100%; margin:0 auto; text-decoration:none; vertical-align:middle;  font-size:4.4em; opacity:0.5; transition:all .5s}
.angle.white a {color:#CCC;}
	.angle.white a:hover {color:#ffffff;opacity:1;}
.angle.black a {color:#000000;}
	.angle.black a:hover {color:#888;opacity:1;}

.content {}

#intro {background:none; padding-bottom:5em;}
	#intro .content {margin:0 auto; padding:3em 0 2em 0;}
	#intro h2, #intro p {text-shadow: #333 0px 2px 8px; color:#FFF; text-align:center;}
	#intro h2{ margin: 1em 0 0 0;}
	#intro p { margin:.3em 0;}
	#intro .photo-title {position:absolute; bottom:5px; right:10px; font-size:.7em; text-decoration:none; color:#EEE; z-index:1;}


#school {padding-bottom:10em; overflow:hidden;background-image: linear-gradient(to bottom,rgba(255, 128, 80,0.2),transparent),url(img/school-blur.jpg); background-position:center center;	background-size:cover; background-repeat:no-repeat; background-attachment:fixed; border-top:rgba(192,192,192,0.3) 1px solid;}
	/*#school:before {content:''; position:absolute; top:0; left:0; right:0; bottom:0; background:#996600; opacity:0.3;}*/
	#school .timeline{ opacity:0.5; transition:0.2s all; z-index:1;}
		#school .timeline:hover{opacity:1;}
	#school .content { margin:0 10px; padding:20px;}	
	#school h2,#school p{text-shadow: #666 1px 1px 3px; color:#FFF;}
	#school h2{padding-top:1em;}
	#school .content p {margin:1em 0; line-height:1.5em;}


.timeline {display:table; font-size:.8em;}
	.timeline-row.padd {height:3em;}
		.timeline-row.padd .timeline-content, .timeline-row.padd .timeline-time {visibility:hidden;}
	.timeline-row {display:table-row; position:relative; height:3em; color:#EEE; }
	.timeline-time{display:table-cell; padding:0 5px 0 2px; text-align:right; vertical-align:middle;}
		.timeline-time span {position:relative;}
		.timeline-time small{display:block; position:absolute; bottom:100%; right:0; font-size:80%; line-height:1em; opacity:0; transition:0.2s all;}
		.timeline-row:hover small{opacity:1;}
	.timeline-content {display:table-cell;padding:2px 2px 2px 10px; opacity:0; vertical-align:middle; transition:0.2s all;}
		.timeline-row:hover .timeline-content{opacity:1;}
		.timeline-content {position:relative; left:-1em; z-index:1;}
		.timeline-content div {display:inline;}
		.timeline-content span {}
		.timeline-content:before {content:''; display:inline-block; padding:0; margin:0; width:2em; height:4px; overflow:hidden; background:#666; opacity:.5; vertical-align:middle;}
	.timeline-icon{display:table-cell; position:relative; vertical-align:middle; text-align:center; z-index:3;}
		.timeline-icon:before {content:''; display:block; position:absolute; width:0; height:100%; top:0; left:50%; outline-color:#666; outline-style: solid; outline-width:2px; z-index:-1; opacity:0.5;}
		.timeline-icon .img-area {display:inline-block; padding:3px; border:none; width:26px; height:26px; color:#666; background:#EEE; box-shadow:1px 1px 2px #888; border-radius:50%; vertical-align:middle;}
			.timeline-icon .img-area i {vertical-align:middle; }



#travel {background:radial-gradient(circle farthest-side,#666570,#444349) #444349; padding-bottom:5em; box-shadow:0 0 20px rgba(0,0,0,0.5);}
	#travel .content {position:relative; right:0; color:#FFF;}
		#travel h2, #travel p{text-shadow: #323232 1px 1px 3px;}
	#travel figure {position:relative; left:0; padding:0; margin:0; overflow:auto;}

	#mjkjz {position:absolute;right:35px;bottom:45px;font-size:12px; color:#eee;color:rgb(253,253,253,);cursor:pointer;background:rgba(0,0,0,0.2);padding:10px 15px;border-radius:5px;box-shadow:0 2px 2px 0 rgba(0,0,0,0.1),0 1px 18px rgba(0,0,0,0.3);border:1px solid;border-color:rgba(255,255,255,0.35) rgba(255,255,255,0.45) rgba(255,255,255,0.55);opacity:.8}
	#trypophobia:hover{opacity:1} 
	#trypophobia i{padding-right:3px;vertical-align:middle}
	#trypophobia del{opacity:.65}


#photo {background:linear-gradient(to bottom,#ECECEC 0%,#FCFCFC 20%) #ECECEC; padding-bottom:5em;}
	#photo .content {padding:2em 0 10px 0; }
	#photo h2{ color:#333; text-align:center; }
	#photo p { color:#333; text-align:center; }

	#lightbox  {width:80%; margin:2.4em auto 0 auto; text-align:center;}
	.lightgrid {display:inline-block; position:relative; width:10em; margin:.1em; padding:0; vertical-align:top; overflow:hidden;}
	.lightgrid img {width:100%; margin:0;}
	.lightgrid .pic-note {position:absolute; box-sizing:border-box; height:100%; top:0; left:-10px; right:0; box-sizing:border-box; margin:0; padding:10px; background:rgba(0,0,0,0.5); color:#FFF; font-size:0.6em; z-index:9; overflow:hidden; opacity:0; transition:0.5s all;}
	.lightgrid .pic-note em {display:block; font-style:normal; font-size:130%; } 
	.lightgrid:hover .pic-note {left:0; padding-right:0; opacity:1; }

	#photo .btn-bar {text-align:center; margin:1.5em 0 1em 0;}
		#photo .btn-bar a {padding:.4em 1em; color:#666; text-decoration:none; vertical-align:middle;}
		#photo .btn-bar i {display:inline-block; padding:5px; width:1.4em; line-height:1.4em; border-radius:50%; border:2px solid; }




#design { padding:2em 0; padding-bottom:5em;background: url(img/design.jpg) center center fixed; background-size:cover; box-shadow:0 0 20px #000 inset;}
	#showcase {text-align:center;}
	.showgrid {display:inline-block; position:relative; width:40%; min-width:12em; margin:2% 2%; padding:0; vertical-align:top;}
	.showgrid img {width:100%; margin:0; outline:3px #fff solid; box-shadow:2px 2px 5px rgba(0,0,0,0.5);}
	.showgrid .pic-note {position:absolute; width:100%; box-sizing:border-box; margin:0; padding:10px; background:rgba(0,0,0,0.5); color:#FFF; border-radius:0.8em; border:#fff 1px solid; z-index:9; overflow:hidden; font-size:0.7em; max-height:100%; transition:all 1s;}
	.showgrid .pic-note em {display:block; text-align:center; font-style:normal; font-size:130%;}
	.showgrid:hover .pic-note {max-height:900px;}
	.showgrid .pic-note.bottom {top:0; opacity:0; border-radius:0 0 5px 5px;}
	.showgrid:hover .pic-note.bottom {top:100%; opacity:1;}
	.showgrid .pic-note.top {bottom:0; opacity:0; border-radius:5px 5px 0 0;}
	.showgrid:hover .pic-note.top {bottom:100%; opacity:1;}

	#design .content {padding:0; text-shadow: #666 1px 1px 3px;}
	#design .content h2{ color:#fff; text-align:left; padding:0 ;}
	#design .content p { color:#fff; text-align:left; padding:0 ; }
	#design .tips {font-size:.7em; margin:100px 0 0 0; padding:10px 0 0 0; border-top:1px solid #CCC; }

#speech {background:linear-gradient(to bottom,#E0E0E0 0%,#F0F0F0 10%,#f7f7f7 100%) #F7F7F7; padding-top:0; padding-bottom:5em;}
	#speech .hollow {float:right; position:relative; width:50%; height:14em; top:0; right:0; overflow:hidden;  border-radius:0 0 0 9999px;}
		#speech .hollow:before {content:''; position:absolute; width:100%; height:100%; background:#000033; opacity:0.3; z-index:2;}
		#speech .hollow:after {content:''; position:absolute; width:100%; height:100%; background:url(img/design.jpg) center center fixed; filter:blur(0.6em); z-index:1;}

	#speech .header {padding-top:2em; margin-left:2em; height:auto;}
	#speech .header h2 {color:#333; font-size:2em;}
	#speech .header p {color:#333; padding-top:1em; line-height:2em;}

	#speech .content {width:auto; margin:1em 0 0 0; font-size:.8em;}
	#speech .crosslist {width:100%; padding:1em 0; overflow:auto; white-space:nowrap;}
	.crosslist .item {position:relative; border:1px #aaa solid; background:#FFF; border-radius:1em; box-shadow:0 0 10px #ccc; white-space:normal; overflow:hidden;}
		.crosslist .item .image {background:#eee; border-right:1px solid #aaa;}
		.crosslist .item img {width:100%;}
		.crosslist .item .info {}
			.crosslist .item .title {line-height:1; font-weight:bold; padding-right:1em; }
			.crosslist .item .time  {font-style:italic;}
			.crosslist .item p {margin-top:0.5em;}


#sns {background:url(img/more.jpg) center center fixed;background-size:cover; padding:2em 0; text-shadow:#333 0 2px; }
	#sns p {padding:0 1em 1em 1em; color:#F0F0F0; text-align:center;}
	#sns .sns-icons {padding:0; margin:0; width:100%; text-align:center;}
		#sns .sns-icons li  {display:inline-block; width:10%; min-width:5em; text-align:center; margin:1em 0;}
		#sns .sns-icons a   {text-decoration:none;}
		#sns .sns-icons i   {font-size:3em; color:#FFF;}
		#sns .sns-icons span{display:block; color:#FFF; font-size:0.8em;}
		#sns .sns-icons span{opacity:0; transition:0.5s all;}
		#sns .sns-icons li:hover span {opacity:1;}

#mail {background:linear-gradient(to bottom,rgba(124,124,124,0.1) 0%,rgba(0,0,0,0) 5em),linear-gradient(to top,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 1em),url(img/snow.png) #FFF;}
	#mail .content {width:auto; padding:1em 0; color:;}
	#mail .content h2{ color:#666; text-align:center;}
	#mail .content p { color:#333; text-align:center; padding:10px;}
		#mail .content a { color:#000066; text-decoration:none;}
	.contact-form {width:auto; max-width:30em; margin:0 auto; padding:1em 1em 0 1em; background:url(img/envelope.png) #FFFFEE; border-radius:.85em .85em 0 0; box-shadow:0px 20px 80px 1px #BABABA;}
	.contact-form .container {position:relative; z-index:1; width:auto; padding:30px;background:white url(img/light_wool.png); border:1px #ddd solid; border-radius:.85em .85em 0 0;}
 	.contact-form  p { padding: 10px 5px;}
	.contact-form .input-border {margin:1em 0 0 0; padding:8px; box-sizing:border-box; background:#FFF; border:#DBBFC3 2px solid; border-radius:8px; }
	.contact-form .input-border input,
	.contact-form .input-border textarea
	{display:block; width:100%; padding:0; margin:0; border:none; font-size:1em; line-height:1.2em; font-family:monospace;}
	.contact-form .input-border:focus {border-color:#687C9B;}
	.contact-form .tips { color:#999; font-size:.6em; text-align:center;}
	.contact-form .submit{width:40%; min-width:200px; border:none; color:#FFFFFF; background:#A55F67; font-size:16px; margin:1rem auto; padding:1em; border-radius:8px; box-shadow:0 0 10px #aaa;}




#footer {height:auto; background:#34393E; padding-top:2em; color:#A3A6A8; font-size:.8em;}
	#footer a {color:#A3A6A8; text-decoration:none; transition:all 0.5s}
	#footer a:hover {color:#fff;}
	.row-one {padding:20px 0; text-align:center;}
	.share-button, .learn-more {display:inline-block; padding:0; margin:0; vertical-align:middle;}
	.share-button {text-align:right;}
		.share-button a {display:inline-block; line-height:2.4em; padding: 0 0.5em; margin: 1em 1em 0 0; border:1px solid; border-radius:8px; font-size:1.1em;}
	.learn-more {text-align:left; list-style:none;}
		.learn-more li {margin:0; padding:0; margin-left:30px;}
		.learn-more h3 {font-size:larger; margin-bottom:0.5em;}

	.row-two {padding:20px 0; text-align:center;}

	.with-tip {position:relative;}
	.with-tip:before {content:attr(data-tip); display:block; width:10em; position:absolute; left:50%; bottom:0; padding:5px; background:#333; color:#FFF; border-radius:6px; opacity:0; transition:all 0.5s;}
	.with-tip:hover:before {opacity:1;  bottom:100%;}

	#rocket-top { width:3em; height:3em; margin:1.2em auto; background:rgba(255, 255, 255, 0.1); border-radius:50%; box-shadow:0 0 1em rgba(0,0,0,0.2); transition:all 0.5s;}
		#rocket-top svg {width:100%; height:100%; box-sizing:border-box; padding:0.6em; fill:#ccc;}
	#rocket-top:hover {background:rgba(255, 255, 255, 0.8);}
		#rocket-top:hover svg {fill:#666;}




#map-tip {position:absolute; z-index:3;}
	#map-tip span{display:block; margin:0; padding:0.3em 1em; border:#666 1px solid; background:#292929; color:#fff; font-size:0.9em; border-radius:3px; box-shadow:20px 20px 25px 5px rgba(0,0,0,0.2); opacity:.9;}

#lightpre{ position:fixed; top:0; bottom:0; left:0; right:0; background:rgba(0,0,0,0.6); z-index:99; } 
	#lightpre .container{height:100%; box-sizing:border-box; padding:1em 2em;} 
	#showarea {position:relative; background:white url(img/loading.gif) no-repeat center center; width:100%; height:100%; min-width:100px; min-height:100px; box-sizing:padding-box; padding:0; text-align:center; transition:.3s all;} 
		#showarea img {margin:0 auto; max-width:100%; max-height:100%; background:#fff; vertical-align: middle;} 
	
	#lightpre .control {position:absolute; left:0; bottom:0; height:3em; width:100%; border:orange 0 solid;}
	#lightpre .control span {display:inline-block; color:#FFF; text-shadow:0 0 5px #000; cursor:pointer;}
	#lightpre .control .fa {vertical-align:middle; line-height:100%;}

	#left-btn, #right-btn{display:block; position:fixed; top:50%; width:1em; height:2em; margin-top:-1em; font-size:6em; opacity:0.1;}
		#left-btn:hover, #right-btn:hover {opacity:1;}
		#left-btn a, #right-btn a {vertical-align:middle; line-height:2em;}
		#left-btn {left:0; text-align:left;}
		#right-btn{right:0;text-align:right;}

	#close-btn {display:block; position:fixed; bottom:0; left:0; width:1em; height:; font-size:3em;}


/*Avanta*/
.avatar {position:relative; width:6em; height:6em; margin:0 auto; border:3px rgba(255,255,255,.5) solid; background:rgba(255,255,255,.2); border-radius:50%; box-shadow:0 0 1em #666;}
	.avatar .normal {position:absolute; overflow:hidden; top:0; left:0; right:0; bottom:0; transition:0.0s all linear;}
	.avatar .ima {position:absolute; width:6em; height:6em; background-image:url(img/avatar.jpg); background-size:100% 100%; border-radius:50%; overflow:hidden;}
	.avatar .scaled {position:absolute; overflow:hidden; transition:.0s all linear;}
	.avatar .scaled .ima {opacity:1;}
	.avatar .scaled .ima:after {content:' '; display:block; position:absolute; height:100%; width:100%; z-index:1; }

	.avatar.static .normal {transition:0.0s all;}

	.avatar.up .ima {bottom:0; left:0;}
	.avatar.up .scaled {top:0; left:0; width:100%; height:0; }
	.avatar.up .scaled .ima {bottom:0; width:100%;  transform:scaleX(1) scaleY(-1);}
	.avatar.up .scaled .ima:after {background-image:linear-gradient(to top,rgba(0,0,0,0.5) 50%, rgba(224,224,224,0.5) 70%);}

	.avatar.down .ima {top:0; left:0;}
	.avatar.down .scaled {bottom:0; left:0; width:100%; height:0;}
	.avatar.down .scaled .ima {top:0; width:100%; transform:scaleX(1) scaleY(-1);}
	.avatar.down .scaled .ima:after {background-image:linear-gradient(to bottom,rgba(0,0,0,0.5) 50%, rgba(224,224,224,0.5) 70%);}

	.avatar.right .ima {top:0; left:0;}
	.avatar.right .scaled {top:0; right:0; height:100%; width:0;}
	.avatar.right .scaled .ima {left:0; height:100%; transform:scaleX(-1) scaleY(1); }
	.avatar.right .scaled .ima:after {background-image:linear-gradient(to right,rgba(0,0,0,0.5) 50%, rgba(224,224,224,0.6) 70%);}

	.avatar.left .ima {bottom:0; right:0;}
	.avatar.left .scaled {top:0; left:0; height:100%; width:0;}
	.avatar.left .scaled .ima {right:0; height:100%; transform:scaleX(-1) scaleY(1); }
	.avatar.left .scaled .ima:after {background-image:linear-gradient(to left,rgba(0,0,0,0.5) 50%, rgba(224,224,224,0.6) 70%);}

#mouseEcho {position:absolute; top:0; left:0; right:0; bottom:0; background:transparent; z-index:2;}

/* float rocket */
#float-rocket {position:fixed; left:50%; width:2em; height:3em; margin-left:-1em; transition:opacity 1s; opacity:1; z-index:99;}
#float-rocket svg {width:100%; height:100%;  }

#rocket-animation { transition:all 1s; }
#rocket-animation .blur-bg { transition:all 1s; opacity:1;}

#rocket-animation.rocket-hidden .blur-bg {opacity:0;}
#rocket-animation.rocket-hidden #float-rocket {opacity:0;}




/** Animation **/


/* travel */
#travel .content, #travel figure { transition:all 1s; }
	#travel.anbe .content{left:20%;  opacity:0.2;}
	#travel.anbe  figure {right:20%; opacity:0.2;}

#photo {}
	#photo .lightgrid {transition:1s all;}
	#photo.anbe .lightgrid {transform:rotateY(90deg); opacity:0;}
	#photo.anaf .lightgrid {transform:rotateY(0deg);  opacity:1;}


#design h2, #design .content p, #design .tips, #design .showgrid {transition:all 1s; position:relative;}
	#design.anbe h2 {left:50%; opacity:0.3;}
	#design.anbe .content p {left:60%; opacity:0.2;}
	#design.anbe .tips {left:70%; opacity:0.1;}
	#design.anbe .showgrid {right:80%; opacity:0.0;}

	#design h2 {left:0;}
	#design .content p {left:0;}
	#design .tips {left:0;}
	#design .showgrid {right:0; }

#speech .header, #speech .content{transition:all 1s;}
	#speech .header {position:relative; left:0;}
	#speech.anbe .header {left:30%; opacity:0.3;}
	#speech .content{transition-delay:0.5s;}
	#speech.anbe .content{margin:0 0 1em 0; opacity:0.1;}

#sns .sns-icons li, #sns p {transition:all 1s;}
	#sns .sns-icons li {position:relative; top:0;}
	#sns.anbe .sns-icons li {position:relative; top:40%; opacity:0;}
	#sns.anbe p {opacity:0;}
	
	#sns li.ande-1 {transition-delay:0.2s;}
	#sns li.ande-2 {transition-delay:0.3s;}
	#sns li.ande-3 {transition-delay:0.4s;}
	#sns li.ande-4 {transition-delay:0.5s;}

#mail .content {transition:all 1s; position:relative; top:0;}
	#mail.anbe .content {top:10em; opacity:0.5;}


.ande-1 {transition-delay:15s;}
.ande-2 {transition-delay:1s;}
.ande-3 {transition-delay:1.5s;}
.ande-4 {transition-delay:2s;}

