@media (max-width:700px){

#school {}
	#school .timeline{position:relative; width:auto; margin:0 auto;}
	#school .content {width:auto; padding:10px 5px; margin-bottom:0;}


#travel {}
	#travel .content {padding-top:2em; margin:0 1em;}
	#travel figure { max-width:100%;  padding:0; margin:0; overflow:auto;}

#photo {}
	#photo .content {padding:2em 0 1em 0; }
	#lightbox  {width:100%; }
	#photo .btn-bar {text-align:center; margin: 0;}
	#photo .btn-bar a {padding:.4em 5px; display:block;}

#design {}
	#showcase {width:auto; margin:0 1em;}
	#design .content {width:auto; padding:2em 1em 0 1em;}

#speech {}
	#speech .hollow {display:none;}

	#speech .header {width:auto; padding-top:2em; margin:0 1em;}
	#speech .content {width:auto; margin:1em 0 0 0; font-size:.8em;}



/****************/

#mail {}
	#mail .content {width:auto; padding:1em 0; color:;}

#footer {}
	.row-one {padding:2em 1em; }
	.share-button, .learn-more {display:block; margin:1em auto; }
	.share-button {text-align:center;}
		.share-button a {display:inline-block; margin:1em 0 0 0;}
	.learn-more {margin-top:2em;}
		.learn-more li {margin:0; padding:0; text-align:center;}
		.learn-more h3 {margin-bottom:0.5em;}
	.row-two {padding:20px 0;}



}


@media (min-width:360px){
	#speech .crosslist {width:100%; padding:1em 0; overflow-x:auto; white-space:nowrap;}
	.crosslist .item {display:inline-block; position:relative; width:50%; min-width:30em; min-height:10em; margin:0 10px; padding:0;  vertical-align:top;}
		.crosslist .item .image {position:absolute; top:0; left:0; height:100%; width:10em;}
		.crosslist .item img {width:100%;}
		.crosslist .item .info {height:100%;  margin:1em 1em 1em 11em; line-height:.6em;}
			.crosslist .item .title {padding-right:1em; }
			.crosslist .item .time  {}
			.crosslist .item p {margin-top:0.5em;}
}
@media (max-width:360px){
	#speech .crosslist {width:100%; padding:1em 0; overflow-x:auto; white-space:nowrap;}
	.crosslist .item {display:block; position:relative; width:auto; padding:0; margin:10px 1em;}
		.crosslist .item .image { width:100%; }
		.crosslist .item img {width:100%;}
		.crosslist .item .info {margin:1em;}
			.crosslist .item .title { padding:1em 1em 0 1em; }
			.crosslist .item p {margin-top:0.5em;}
}


@media (max-width:600px){
	#mail .content {width:auto; padding:2em 0 1em 0;}
	#mail .contact-form {border-radius:0;}
		#mail .contact-form .container {padding:1em 5px 1em 5px;}
	#mail .input-border.two-col {width:auto;display:block;box-sizing:border-box;}
}
@media (min-width:600px){
	.contact-form {width:auto; max-width:30em; margin:0 auto; padding:1em 1em 0 1em;}
	.contact-form .container {padding:30px;}
	#mail .input-border.two-col {width:48%;display:inline-block;box-sizing:border-box;}
}


@media (min-width:700px){
#school {}
	#school .timeline{position:absolute; top:0; left:3%; height:100%; width:30%; z-index:0;transition:0.2s all;}
	#school .content {float:right; width:60%; margin:0 10px; padding:20px;}	

#travel {}
	#travel .content {color:#FFF; padding-top:2em; margin-left:5%;}
	#travel figure {float:right; width:50%; min-width:900px; text-align:left; padding:0; margin:0; overflow:auto;}


#photo {}
	#photo .content {padding:10px 0 10px 0; }
	#lightbox  {width:80%; }
	#photo .btn-bar {text-align:center; margin:2em 0;}
	#photo .btn-bar a {display:inline-block; padding:.4em 1em;}

#design {}
	#showcase {float:left; width:50%;}
	#design .content {float:left; width:50%; padding:0;}

#speech {}
	#speech .header {width:40%; padding-top:2em; margin-left:2em;}
	#speech .content {width:auto; margin:1em 0 0 0; font-size:.8em;}
	#speech .crosslist {width:100%;}




#mail {}
	#mail .content {width:auto; padding:4em 0; color:;}

#footer {}
	.row-one {padding:20px 0; text-align:center;}
	.share-button, .learn-more {display:inline-block; width:49%; padding:0; margin:0; vertical-align:middle;}
	.share-button {text-align:right;}
		.share-button a {display:inline-block;}
	.learn-more {}
		.learn-more li {margin:0; padding:0; margin-left:30px;}
		.learn-more h3 { margin-bottom:0.5em;}
	.row-two {padding:20px 0;}



}
